/* Universal CSS Start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* Universal CSS End */

/* Header Start */
.header{
    /* width: 100%; */
    height: 600px;
    background-color: dimgray;
    background-image:url('image.webp');
    background-repeat: no-repeat;
    background-size: 100%;
}
.banner img {
    /* padding: 40px; */
    height: 473px;
    margin-left: 156px;
}
/* Navbar Start */
.f-color{
    color: crimson;
}
.profile-logo{
    font-size: 40px;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px 80px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav li{
    margin-left: 50px;
    list-style: none;  
}

nav li a{
    text-decoration: none;
    color: #f7edf6;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
}
ul li a:hover{
    color: rgb(190, 73, 49);
background-color: aqua;
/* font-weight: 700; */
}
/* Navbar End */

/* Banner Start */
.banner{
    display: flex;
    align-items: center;
    margin: 10px 100px;
    width: 100%;
}

.greeting{
    font-size: 40px;
    font-weight: 500;
}
.profile-name{
    font-size: 50px;
    font-weight: 600;
}
.description{
color: rgba(0, 10, 10, 0.837);
 font-size: 15px;
 font-weight: 400;
 line-height: 30px;
 margin-top: 20px;
 margin-bottom: 30px;
 width: 50%;
}

.button{
    width: 200px;
    height: 50px;
    padding: 18px 35px 19px 36px;
    border: 0;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 400;
    color: antiquewhite;
    background: #FD6E0A;
}
/* Banner End */
/* Header End */

/* About Start */
main{
    max-width: 80%;
    margin: 0 auto;
}

.about-me {
    background: linear-gradient(to right, rgb(241, 97, 97),rgb(249, 198, 104),rgb(250, 250, 120),rgb(115, 251, 115));
    padding: 120px;
    text-align: center;
    margin-top: 100px;
    border-radius: 10px 430px 0px 340px;
}

.section-title{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
}
.title-describe{
    text-align: center;
   margin: 30px 0px; 
}
.info-container{
    display: flex;
    justify-content: space-between;
}
.about-info{
    margin-top: 30px;
}
.info-title{
    color: rgba(0, 11, 2, 0.915);
    font-size: 25px;
    font-weight: 400;
}
.info-describe{
    color: black;
    font-size: 20px;
    font-weight: 400;
}
/* About End */

/* My Work Start */
.work-resume-container{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
   
    }
 .my-work{
     background-color: rgb(215, 233, 227);
      padding: 50px;
      width: 50%;
      border-radius: 30px;
 }

.work{
    padding: 30px;
}
.work-title{
font-size: 20px;
font-weight: 600;
margin-top: 10px;
margin-bottom: 20px
}
.work-describe{
    color: black;
    margin-bottom: 40px;
}
/* My Work End */

/* My Resume Start */
.resume{
    padding: 30px;
    background-color: rgb(220, 202, 202);
    width: 50%;
    border-radius: 30px;
}
.my-education{
    display: flex;
    justify-content: space-between;
   gap: 50px;
}
.div-border{
    border-right:2px solid;
    padding-right: 10px;
}
.item{
    color: rgb(225, 56, 56);
    font-size: 21px;
    font-weight: 600;
}

.resume-title{
    color: #060106f1;
font-size: 22px;
font-weight: 600;
margin-top: 10px;
margin-bottom: 30px
}
.item-title{
    color: rgb(7, 11, 14);
font-size: 20px;
font-weight: 400;
margin-top: 10px;
margin-bottom: 20px
}
.item-describe{
    color: black;
    margin-bottom: 40px;
}
.download-btn{
    align-items: center;
    margin-top: 50px;
    margin-left: 150px;
}
/* My Resume End */

/* Experience Start */
.experience{
    background-color: rgb(216, 208, 205);
    text-align: center;
    margin-top: 100px;
    border-radius: 50px;
    }
  .ex-title{
    padding-top: 50px;
  } 
  .ex-describe{
    padding: 50px 50px;
  } 
 .experience-container{
        display: flex;
        justify-content: space-between;
        margin-top:50px;
        padding: 0px 70px 50px 70px;
    }

.experience-info{
    background-color: rgb(123, 166, 166);
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 40px;
    padding: 30px;
    width: 200px;
    height: 300px;
    transition-property: all;
    transition-duration: 2s;
    /* transform: 3s; */
    transition-timing-function: ease-in;
}
.experience-info:hover{
    width: 250px;
    height: 300px;
    /* transform:rotate(360deg); */
    background-color: blueviolet;
}
.experience-info-describe{
    color: black;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    text-align: left;
}
/* Experience End */

/* Footer Start */

.footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(129, 119, 119);
    margin-top: 50px;
    padding: 100px 120px;
    margin-bottom: 20px;
    gap: 10px;
}
.footer-head{
    font-size: 18px;
    color: chartreuse;
    font-weight: 100;
    margin-bottom: 30px;
}
.footer-content{
    color: antiquewhite;
    list-style: none;
}
.connector{
    color: antiquewhite;
    margin-bottom: 20px;
}
.footer input[type="text"], [type="email"], textarea{
    margin-bottom: 10px;
    width: 80%;
    border-radius: 10px;
    border: 0;
    background: #FFF;
    padding: 10px 15px; 
}
.footer a{
    margin-right: 25px;
}
/* Footer End */